<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Smart shopping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> 
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
     <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>
    <%- include('../.partiails/navbar.ejs') %>
    <%- body -%>
    <%- include('../.partiails/footer.ejs') -%>
    <%- include('../.partiails/javascriptOnly.ejs') -%>
  </body>
</html>